.container {
  max-width: 1280px;
  padding: 0 4rem;
  margin: auto;
  overflow: hidden;
}

.bg {
  &-primary {
    background: $primary-color;
    color: #fff;
  }

  &-light {
    background: $light-color;
    color: $dark-color;
  }

  &-dark {
    background: $dark-color;
    color: #fff;
  }
}

.main-color {
  color: $primary-color;
}

.section-title {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  text-align: center;
}

// Padding
.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

// Margin
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}

// Button
%btn-shared {
  display: inline-block;
  padding: 1rem 2rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s;
}

.btn {
  &-primary {
    @extend %btn-shared;
    background: $primary-color;
    color: #fff;

    &:hover {
      opacity: 0.8;
    }
  }
  &-white {
    @extend %btn-shared;
    background: #fff;
    color: #333;
    border: 1px solid $primary-color;
  }
  &-dark {
    @extend %btn-shared;
    background: $dark-color;
    color: #fff;
  }
}
